# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [4]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [36]:
#your code here
allInfoFiles = ["https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_0.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_1.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_2.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_3.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_4.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_5.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_6.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_7.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_8.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_info_9.csv"]

allMarksFiles = ["https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_0.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_1.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_2.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_3.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_4.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_5.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_6.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_7.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_8.csv",
                "https://raw.githubusercontent.com/TyurinIvan/iad2021/master/hw1/Data/Students_marks_9.csv"]


list_ = []
for _file in range(len(allInfoFiles)):
  
  df1 = pd.read_csv(allInfoFiles[_file], index_col=None, header=0, sep=",")
  df2 = pd.read_csv(allMarksFiles[_file], index_col=None, header=0, sep=",")
  
  df = pd.merge(df1, df2, on=["index"])
  list_.append(df)
df = pd.concat(list_)


df

    index  gender race/ethnicity  ... math score reading score writing score
0       0  female        group B  ...         72            72            74
1       1  female        group C  ...         69            90            88
2       2  female        group B  ...         90            95            93
3       3    male        group A  ...         47            57            44
4       4    male        group C  ...         76            78            75
..    ...     ...            ...  ...        ...           ...           ...
95    995  female        group E  ...         88            99            95
96    996    male        group C  ...         62            55            55
97    997  female        group C  ...         59            71            65
98    998  female        group D  ...         68            78            77
99    999  female        group D  ...         77            86            86

[1000 rows x 10 columns]

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [37]:
#your code here
df = df.drop('index', axis=1)

df.head(10)

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [40]:
# your code here
print('Количество яцеек: ', df.size)
print('Количество строк: ', df.shape[0])
print('Количество столбцов: ', df.shape[1])

Количество яцеек:  9000
Количество строк:  1000
Количество столбцов:  9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
# your code here

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
# your code here

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
# your code here

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
# your code here

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
# your code here

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
# your code here

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# your code here

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# your code here

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
# your code here

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
# your code here

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# your code here

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# your code here

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here